<html>
        <head>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
          <title>Response Handler</title>
        </head>
        <body>
          <center>
            <font size="4" color="blue"><b>Payment Status</b></font>
            <br>
           {{pData}}
          </center>
          <br>
          <a href="https://speakerore.com/event">Go to website</a>
        </body>
      </html>

